/* header */
header {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 0 0 10px;  width: 100%;
  /* height: 70px; */
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
header.sticky {
  position: fixed;
  z-index: 222;
}
.gnb {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  max-width: 1200px;
  margin: auto;
}
.gnb li {
  padding: 1em 1.4em;

  position: relative;
}

.gnb li a:before,
.gnb li a:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transform: scaleX(0);
  transition: all 0.5s;
}
.gnb li a:before {
  top: 0;
  transform-origin: left;
}
.gnb li a:after {
  bottom: 0;
  transform-origin: right;
}
.gnb li.on a:before,
.gnb li a:hover:before,
.gnb li.on a:after,
.gnb li a:hover:after {
  transform: scaleX(1);
}

/* sec_main */
#sec_main {
  background-color: #f4f5fe;
}
#sec_main::after {
  content: "";
  background: url(../images/main_dot.png) no-repeat;
  position: absolute;
  width: 212.05px;
  height: 33.83px;
  left: 1.86px;
  /* top: 598.21px; */
  top: 80%;
  box-sizing: border-box;
  animation: 4s linear 1s infinite alternate main_left;
}
@keyframes main_left {
  from {
    left: -10%;
  }
  to {
    left: 1%;
  }
}

#sec_main .container {
  display: flex;
  justify-content: space-around;
}
#sec_main .container::after {
  position: absolute;
  content: "";
  width: 489px;
  height: 489px;
  left: 64%;
  top: 208px;
  border: 6px solid #ea4343;
}
#sec_main .main_subtit_top::after {
  content: "";
  position: absolute;
  width: 260px;
  height: 375px;
  right: 0;
  top: 0px;
  background: rgba(217, 217, 217, 0.6);
  animation: 3s linear 1s infinite alternate main_right;
}
@keyframes main_right {
  from {
    right: -10%;
  }
  to {
    right: 3%;
  }
}
.main_left h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #ea4343;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  animation: lego 4s infinite ease-in-out;
}
.lego {
  display: flex;
  padding: 276px 0 20px 0;
}
@keyframes lego {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
.lego span {
  padding-top: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.lego h2 {
  padding-top: 15px;
}
/* .lego::after {
  content: "";
background: url(../images/main_lego_bg.png) no-repeat;
width: 242.81px;
height: 94px;
position: relative;
left: 0;
} */
.lego img:first-child {
  padding: 0px;
}
.main_me {
  z-index: 221;
}
#sec_main p {
  font-family: "KoreanNGDM";
  font-size: 30px;
  line-height: 70px;
}
.main_subtit_bottom {
  display: flex;
  height: 65px;
  margin: 0 0 0 2px;
}
.main_subtit_bottom span {
  font-family: "KoreanNGDB";
  font-size: 48px;
  line-height: 70px;
  letter-spacing: 4px;
  text-shadow: 2px 2px 5px rgba(60, 60, 60, 0.35);
  margin-right: 6px;
}
.main_subtit_bottom img {
  margin-left: 46px;
  width: 49.11px;
  height: 41.17px;
}

/* button */

.button_r,
.button_w {
  display: flex;
}
.button_r a {
  display: inline-block;
  width: 110px;
  height: 35px;
  border-radius: 35px;
  background: #ea4343;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "KoreanNGDM";
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 1.5px;
  margin-right: 20px;
  margin-top: 20px;
}
.button_w a {
  display: inline-block;
  width: 130px;
  height: 35px;
  border-radius: 35px;
  background: #f4f5fe;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: "KoreanNGDB";
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 1px;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid #ea4343;
}

#sec_main .button_r::after {
  content: "";
  position: absolute;
  width: 71px;
  height: 120px;
  left: 61%;
  top: 173px;
  background: rgba(160, 160, 160, 0.6);
}
/* sec_profile */
#sec_profile {
  background-color: rgba(60, 60, 60, 0.8);
  position: relative;
}
#sec_profile .container {
  display: flex;
  justify-content: space-between;
}
#sec_profile p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "KoreanNGDL";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.profile_txt_area {
  display: flex;
}
.profile_left {
  width: 33%;
  margin-top: 19vh;
  margin-right: 50px;
}
.profile_left img {
  width: 100%;
  position: relative;
  z-index: 6;

}
.profile_box1 {
  position: absolute;
  width: 332px;
  height: 332px;
  left: 2%;
  top: 6%;
  border: 6px solid #ffffff;
  z-index: 1;}

.profile_box2 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 7%;
  top: 73%;
  background: #ea4343;
  z-index: 7;

}
.profile_txt_center,
.profile_txt_right {
  width: 50%;
}
#sec_profile .profile_right h2 {
  margin: 180px 0 80px 0;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "KoreanNGDL";
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}
.profile_right h2 span {
  font-family: "KoreanNGDM";
  font-size: 25px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1.5px;
}

.profile_txt_center h3,
.profile_txt_right h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  color: #ea4343;
  letter-spacing: 3px;
  margin: 25px 0 9px 0;
}
.history h3 {
  margin-top: 85px;
}
.profile_edu_area,
.profile_his_area {
  display: flex;
}
.profile_me_txt,
.profile_date,
.profile_edu_txt,
.profile_his_txt {
  display: flex;
  flex-direction: column;
}
.profile_date {
  margin-right: 10px;
}
.profile_edu_area .profile_date p:nth-child(1),
.profile_his_area .profile_date p:nth-child(2),
.profile_his_area .profile_date p:nth-child(3) {
  padding-bottom: 30px;
}
.profile_right {
  width: 60%;}
/* sec_skills */
#sec_skills {
  background: #ea4343 url(../images/skills_bg2.png) no-repeat center;
  background-size: 80%;
}
/* #sec_skills .container{
  background: url(../images/skills_bg2.png)no-repeat;
  background-size: 110%;
  z-index: 999;
} */
#sec_skills::after {
  content: "";
  position: absolute;
  top: 300vh;
}
.sills_area {
  display: flex;
  justify-content: space-around;
}
.skill_name {
  position: absolute;
  top: -30px;
  left: 3px;
  color: #fff;
}
#sec_skills h2 {
  color: #fff;
  font-size: 3em;
  padding: 18% 0 100px 0;
  text-align: center;
}
.progress-bar {
  position: relative;
  width: 430px;
  height: 10px;
  margin: 3em auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}
.progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: rgb(255, 255, 255);
  border-radius: 25px;
}
.progress-bar .rate {
  position: absolute;
  top: -30px;
  right: 3px;
  bottom: 0;
  line-height: 30px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}



/* sec_project1 */
#sec_project1 {
  background-color: #f4f5fe;
  position: relative;
}
#sec_project1 .project_left{
  position: relative;
  left: -80%;
  transition: all 3s ease-in-out;
padding-right: 50px;
}
#sec_project1.on .project_left{
  left: 0;
}
#sec_project1 .project_right{
  position: relative;
  right: -80%;
  padding-left: 50px;

}
#sec_project1.on .project_right{
  right: 0;
animation: fade 4s ease-in;
}
@keyframes fade{
  from{opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

.project_tit {
  font-size: 45px;
  font-style: normal;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}
.project_tit + p {
  color: #7d7789;
}
.thumbnail_area {
  position: relative;
}
.project_left .pc {
  width: 500px;
}
.project_left .ipad {
  position: absolute;
  width: 300px;
  top: 49%;
  left: 54%;
}
.project_left .mobile {
  position: absolute;
  width: 120px;
  top: 52%;
  left: -9%;
}
.project_area {
  display: flex;
  justify-content: space-between;
}
.project_left,.project_right{
  padding-top: 200px;
  max-width: 700px;
}
.project_left{
  width: 700px;
}
.project_right{
  width: 600px;

}
.project_right h3 {
  font-family: "KoreanNGDE";
  font-weight: 400;
  font-size: 30px;
  padding-top: 50px;
}
.project_right p:nth-child(3),
.project_right p:nth-child(4) {
  font-family: "KoreanNGDB";
  font-size: 16px;
  line-height: 30px;
}
.project_right span {
  font-family: "KoreanNGDE";
}
.project_txt {
  line-height: 30px;
  color: #7d7789;
  margin: 30px 0;
}
.icon {
  display: flex;
  margin-top: 10px;
}
.icon li {
  margin-right: 20px;
}
/* sec_project2 */
#sec_project2 {
  background-color: #f4f5fe;
}
#sec_project2 .project_tit,
#sec_project2 .project_tit + p {
  text-align: right;
}
/* sec_project3 */
#sec_project3 {
  background-color: #f4f5fe;
}

/* sec_project4 */
#sec_project4 {
  background-color: #ea4343;
  position: relative;
}
#sec_project4 h3{
  color: #FFFFFF;
}
#sec_project4 .project_txt{
  color: #F5F5F5;
}
#sec_project4::before{
  content: '';
  position: absolute;
  top: 54%;
  left: -20%;
width: 260px;
height: 350px;
box-sizing: border-box;
border: 6px solid #FFFFFF;
border-radius: 0px;
transition: all 0.6s ease-in;

}
#sec_project4.on::before{
left: -2%;
}

/* sec_project5 */
#sec_project5 {
  background-color: #f4f5fe;
  display: none;
}
#sec_project5 .project_tit,
#sec_project5 .project_tit + p {
  text-align: right;
}

/* footer */
footer {
  background-color: #f4f5fe;
  
}
footer .container{
  text-align: center;
}
footer .container h2{
  letter-spacing: 3.2px;
  font-weight: 700;
font-size: 32px;
line-height: 31px;
padding-top: 100px;
padding: 100px 0 50px 0;
}
footer .container p{
  font-size: 20px;
  line-height: 50px;

}
footer .container .button_r{
  justify-content: center;

}
.footer_bottom{
  background-color: rgba(60, 60, 60, 0.6);
  height: 270px;
}
.footer_box {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.footer_box li{
  width: 214px;
height: 65px;
  background: rgba(109, 107, 111, 0.4);
}

/* top */
.to_top {
  position: fixed;
  right: 50px;
  bottom: 112px;
  z-index: 99999;
}
.to_top a {
  opacity: 0;
  display: block;
}
.to_top span:hover {
  transform: scale(10%);
}
#to_top.visible {
  opacity: 1;
}




.box {
  position: fixed;
  font-size: 3em;
  z-index: 999;
  
}
